<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Availability</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (product of products(); track product.id) {
      <tr>
        <td>{{ product.name }}</td>
        <td>{{product.price}}</td>
        <td [style.backgroundColor]="product.isAvailable ? 'green' : 'red'">{{ product.isAvailable ? "Si" : "No"}}</td>
        <td><button type="button" class="btn btn-primary" (click)="delete(product.id)">Elimina</button></td>
      </tr>
    } @empty {
      <tr>
        <td colspan="3">
          Non ci sono info
        </td>
      </tr>
    }
  </tbody>
</table>