
* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-size: 2em;
}

main {
  width: 50%;
  margin: 0 auto;
  border: solid 2px #999;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: antiquewhite;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


input {
  width: 60%;

}

input, button {
  font-size: 1.5em;
  padding: 10px;
}

button {
  cursor: pointer;

}