*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: #2d57a4;
    font-family: sans-serif;
}

img{
    max-width: 10%;
    margin: 20px;
}

.flex-container {
    max-width: 700px;
    min-height: 500px;
    display: flex;
    border: 1px solid #002c53;
    background-color: #d65d18;
    margin: 0 auto;
    /* flex-direction: row;
    flex-wrap: nowrap; */

    /* flex-flow: row nowrap;  */

}

.flex-item {
    width: 250px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #00531d;
    background-color: #479d39;
}