* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  border: 3px solid black;
  background-color: aqua;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); ;

  padding: 20px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.img-wrapper {
  height: 250px;
  display: block;
  width: 100%;
  flex: 1;
  overflow: hidden;

}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 15px;
  flex: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
  
}

.card-content button {
  margin-top: auto;
  padding: 10px;
  cursor: pointer;
}

