body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  img{
    max-width: 10%;
    margin: 20px;
    position: fixed;
    top: 1%;
    left: 1%;
}
  
  /* Intestazione */
  header {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
    margin: 0;
    opacity: 0.8;
  }
  
  /* Contenitore principale */
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
  }
  
  /* Box */
  .box {
    max-width: 250px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  .box h2 {
    font-size: 1.5rem;
    color: #2575fc;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Aggiunta di media query per il responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .box {
      margin-bottom: 20px;
      max-width: 100%;
    }

    .box:nth-child(1){
      order: 3;
    }

    .box:nth-child(2){
      order: 2;
    }

    .box:nth-child(3){
      order: 1;
    }
  }