* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*IMG*/

img {
  min-width: 100px;
  max-width: 150px;
  
}

/*HEADER*/

header {
  border: 2px solid green;
  margin: 20px;

}

.titolo {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titolo h1, h2 {
  border: 2px solid blue;
  display: block;
  width: 50%;
  padding: 20px;
  font-size: 3.5rem;
}

/*MAIN*/

main {
  border: 2px solid green;
  margin: 20px;
}

.foto_iniziali {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
  
  
}

/*H3 ---> WHO I AM*/

h3:nth-of-type(1) {
  border: 2px solid aqua;
  padding: 20px 30px;
}

.whoIam {
  border: 3px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
  

}

.whoIam img {
  border: 2px black solid;
  max-width: 40%;
  height: auto;
}

.paragrafo {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 30px 0;

}

.paragrafo p {
  border: 3px solid orange;
  font-size: 1.75rem;
  
}



/*FOOTER*/

