@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

/* CONTENITORE */

.contenitore {
  margin: 0 auto;
  width: 90%;
}

/*IMG*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*HEADER*/

header {
  /* border: 2px solid green; */
}

.titolo {
  /* border: 2px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.titolo h1,
.titolo h2 {
  /* border: 2px solid blue; */
  width: 40%;
  padding: 20px;
  font-size: 2rem;
  margin-bottom: 30px;
}

/*MAIN*/

main {
  /* border: 2px solid green; */
}

.foto_iniziali {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.foto_iniziali .img-box {
  flex: 1;
}

/*H3*/

.subtitoli {
  /* border: 2px solid aqua; */
  padding: 20px 0;
}

.whoIam {
  /* border: 3px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}


.paragrafo {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 70px;
}

.paragrafo p {
  /* border: 3px solid orange; */
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.portfolio {
  /* border: solid 3px blue; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0;
  gap: 10px;
  font-size: 1.3rem;
}

.portfolio .box {
  /* border: 3px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.portfolio .img-box {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.portfolio .img-box img {
    width: 100%;
    height: 100%; 
    
}

.box p {
  padding-bottom: 10px;
}

/*FOOTER*/

footer {
  margin-bottom: 20px;
}

.footer {
  /* border: 3px solid orange; */
  display: flex;
  justify-content: space-around;  
}

.footer-info {
  /* border: solid 3px green; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
}



.info {
  padding: 0 20px 30px 50px;
  /* border: 3px solid blue; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
  margin-bottom: 50px;
}

.info h2 {
  font-size: 1.8rem;
}

.info small {
  font-size: .8rem;
}