* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#titolo {
  font-size: 20px;


}

.header-sect {
  width: 60%;
}

#nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* MAIN */

.hero-box {
  margin: auto;
  padding: 20px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  min-width: 35%;
  max-width: 45%;
}

.box {
  border: solid 2px black;
  padding: 20px;
  margin: 15px;
  background-color: lightgray;
}

/* FOOTER */






