body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  img{
    max-width: 10%;
    margin: 20px;
    position: fixed;
    top: 1%;
    left: 1%;
}

.flex-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .4);
    width: 800px;
}

.flex-item {
    width: 100px;
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 100px;
    font-size: 30px;
    color: white;
}

.box-1 {
    background-color: #edd0a8;
}

.box-2 {
    background-color: #c191a1;
}

.box-3 {
    background-color: #a4508b;
}

.box-4 {
    background-color: #5f0a87;
}

.box-5 {
    background-color: #2f004f;
}