* {
  box-sizing: border-box;
}

#lamp {
  position: fixed;
  top: 40px;
  right: 40px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 1;
  width: 60px;
  height: 60px;
}

#lamp:hover {
  transform: scale(120%);
}

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.nascondi {
  display: none;
}

